{
  "plugins": [
    // "add-module-exports",
    // ["@babel/plugin-proposal-decorators", { "legacy": true }], // ts-loader
  ],
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "browsers": "last 2 versions" } }, // or whatever your project requires
    ],
    "@babel/preset-typescript",
    "@babel/preset-react",
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
      ]
    }
  }
}
